<input type="checkbox" id="1" name="1" value="1">
    <input type="checkbox" id="2" name="2" value="2">
    <input type="checkbox" id="3" name="3" value="3">
    <input type="checkbox" id="4" name="4" value="4"><br>
    <input type="checkbox" id="5" name="5" value="5">
    <input type="checkbox" id="6" name="6" value="6">
    <input type="checkbox" id="7" name="7" value="7">
    <input type="checkbox" id="8" name="8" value="8"><br>
    <input type="checkbox" id="9" name="9" value="9">
    <input type="checkbox" id="10" name="10" value="10">
    <input type="checkbox" id="11" name="11" value="11">
    <input type="checkbox" id="12" name="12" value="12"><br>
    <input type="checkbox" id="13" name="13" value="13">
    <input type="checkbox" id="14" name="14" value="14">
    <input type="checkbox" id="15" name="15" value="15">
    <input type="checkbox" id="16" name="16" value="16">
    
<br>

<button type="button" (click)="submitTicket()">Submit Ticket</button>
<a routerLinkActive="active" routerLink="/select-ticket-number">Redirect</a>
